@tailwind base;
@tailwind components;
@tailwind utilities;


 .all-bg {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(13, 27, 42, 0.7), rgba(0, 8, 20, 0.7)),
    url('https://media.istockphoto.com/id/1365436662/photo/successful-partnership.jpg?s=612x612&w=0&k=20&c=B1xspe9Q5WMsLc7Hc9clR8MWUL4bsK1MfUdDNVNR2Xg=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}


.profile-bg {
  background: 
    
    url('https://c4.wallpaperflare.com/wallpaper/981/204/987/simple-background-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Adjusts to div size */
  background-position: center;
  background-attachment: scroll; /* Remove fixed to prevent full viewport */
  border-radius: 1rem;
  padding: 2rem;
}

.bg-div {
  background: 
    
    url('https://www.shutterstock.com/image-photo/asian-business-people-meeting-time-260nw-2167772201.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Adjusts to div size */
  background-position: center;
  background-attachment: scroll; /* Remove fixed to prevent full viewport */
  border-radius: 1rem;
  padding: 2rem;
}